.output {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.output-top {
    display: flex;
    height: 2.5rem;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    user-select: none;
}

.terminal-icon {
    width: 1.25rem;
    padding-left: 1rem;
}

.output p {
    line-height: 100%;
    font-weight: 400;
    font-family: monospace;
    font-size: 1rem;
    margin-left: 0.25rem;
    color: #ccc;
}

.flex-grow {
    flex: 1;
}

.clear-button img {
    height: 1rem;
    margin-right: 0rem;
}

.output-content {
    padding: 1rem;
    font-family: monospace;
    font-size: 0.875rem;
    color: #bbb;
    overflow-y: auto;
    padding-bottom: 3rem;
}