@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

nav {
    width: 100vw;
    min-height: 3rem;
    background-color: #1a1c22;
    border-bottom: 1px solid #2a313d;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.nav-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-center {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.nav-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-button {
    background-color: #2a313d;
    cursor: pointer;
    color: white;
    height: 1.75rem;
    padding: 0.25rem 0.5rem 0.25rem 0.375rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    outline: 1px solid #1a1c22;
    transition: outline 0.3s ease, background-color 0.3s ease;
    white-space: nowrap;
    user-select: none;
}

.nav-button img {
    height: 0.875rem;
    margin-right: 0.25rem;
}

.nav-button p {
    line-height: 100%;
}

.nav-button:hover {
    background-color: #3e4c60;
    outline: 1px solid #3e4c60;
}

.sign-in {
    color: black;
    background-color: #56b6c2;
    font-weight: 500;
}

.sign-in:hover {
    background-color: #56b6c2;
    transition: outline 0.3s ease;
    outline: 1px solid #56b6c2;
}

.sign-in img {
    height: 1rem;
    margin-right: 0.375rem;
}

input {
    all: unset;
    background-color: #2a313d;
    outline: 1px solid #1a1c22;
    transition: outline 0.3s ease, background-color 0.3s ease;
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
    border-radius: 1.375rem;
    width: auto;
    min-width: 15rem;
    max-width: 30rem;
    flex-grow: 1;
    text-overflow: ellipsis;
    text-align: center;
    color: white;
    margin-right: 0.5rem;
    cursor: default;
}

.input {
    cursor: pointer;
}

.input:hover{
    background-color: #3e4c60;
    outline: 1px solid #3e4c60;
}

.input:focus {
    background-color: #3e4c60;
    cursor: text;
    outline: 1px solid #fff;
}

a {
    text-decoration: none; 
}

.logo {
    display: flex;
    height: 100%;
    margin-left: 0.75rem;
    font-family: "Oxygen";
    color: white;
    font-weight: 700;
    line-height: 100%;
    user-select: none;
    cursor: pointer;
}

.logo p {
    margin-left: 0.25rem;
    margin-right: 1rem;
}

.logo img {
    width: 1.25rem;
}

.loading-bar {
    position: absolute;
    height: 2px;
    width: 100vw;
    top: 2.875rem;
    left: 0;
}

.loading-bar::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #56b6c2);
    animation: loading 3s infinite;
  }
  
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }